<div class="header">
  <h1 class="header-title1">CREATE</h1>
  <h1 class="header-title2">your</h1>
  <h1 class="header-title3">boose</h1>
  <h1 class="header-title4">BOOK</h1>
</div>

<div>
  <h1>Wanna add a new boose to your bar?</h1>
  <%= link_to "Click here", new_cocktail_path(@cocktail) %>
</div>

<div class="body">
  <% @cocktails.each do |cocktail| %>
    <div class="card">
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
  <% end %>
</div>

<div class="footer">

</div>
