<h1>Let's image a new cocktail</h1>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name, label: 'Your cocktail name please', error: 'Cocktail name is mandatory, please specify one' %>
  <%= f.button :submit %>
<% end %>
